{% extends 'layouts/sprk' %}

{% block javascripts %}
    {{ js(asset_timed('assets/formbuilder/js/vendor.js'))|raw }}
    {{ js(asset_timed('assets/formbuilder/formbuilder.js'))|raw }}
{% endblock %} 
{% block stylesheets %}
    {{ css(asset_timed('assets/formbuilder/formbuilder.css'))|raw }}
    {{ css(asset_timed('assets/stylesheets/table_fix.css'))|raw }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% if form is defined %}Veidlapas sagataves rediģēšana{% else %}Izveidot jaunu veidlapu{% endif %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="{{ url_action('FormTemplateController@index') }}">Veidlapu sagataves</a></li>
                <li class="active">{% if form is defined %}Labot{% else %}Izveidot{% endif %}</li>
            </ul>
        </div>
    </div>

    {% if (session_has('message')) %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success">
                    {{ session_get('message') }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if (session_has('error')) %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger">
                    {{ session_get('error') }}
                </div>
            </div>
        </div>
    {% endif %}

    {{ form_open({'v-component': 'formbuilder-form', 'v-on': 'submit: saveForm', 'action': action_route, 'method': 'post'}) }}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div v-validate="errors.name" class="form-group">
                            {{ form_label('name', 'Nosaukums:') }}
                            {{ form_text('name', (form.name is defined ? form.name : ''), {'class': 'form-control'}) }}
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="clearfix"></div>
                    <div class="form-group" style="border-top: 1px solid #ddd; margin-top: 15px;">
                        <div class='fb-main'></div>
                        {% set create = (form is defined) ? true : false %}
                        {% set allowApprove = (form.status is defined) ? true : false %}
                        {% set viewUrl = (form is defined) ? url_action('FormTemplateController@show', {'id': form.id}) : null %}
                        {% set cancelUrl = url_action('FormTemplateController@index') %}
                        <script>
                            $(function(){
                                fb = new Formbuilder({
                                    selector: '.fb-main',
                                    bootstrapData: [
                                        {% if fields is defined %}
                                            {% for field in fields %}
                                                {{ field|json_encode|raw }},
                                            {% endfor %}
                                        {% endif %}
                                    ],
                                    params: {
                                        create: "{{ create }}",
                                        viewUrl: "{{ viewUrl }}",
                                        cancelUrl: "{{ cancelUrl }}",
                                        allowApprove: "{{ allowApprove }}"
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    {{ form_close() }}

{% endblock %}